* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./assets/Background\ of\ praRoz.png);
  background-repeat: no-repeat;
  background-position: top;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
aside h1 {
  font-size: 33px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  text-align: center;
}
aside span {
  color: rgb(226, 148, 3);
  font-size: 45px;
}
aside p {
  color: white;
  font-size: 20px;
  line-height: 25px;
  font-size: 19px;
  text-align: center;
}
aside button {
  font-size: 17px;
  width: 150px;
  padding: 10px;
  background-color: rgb(226, 148, 3);
  border: none;
  border-radius: 10px;
}
form {
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  flex-direction: column;
  color: white;
  gap: 25px;
  align-items: center;
  width: 300px;
  height: auto;
  padding: 25px 30px;
  border-radius: 10px;
}
.sub-heading {
  font-size: 25px;
  font-weight: 700;
  background-color: whitesmoke;
  color: rgb(226, 148, 3);
  width: 100%;
  border-radius: 10px;
  padding: 7px;
  text-align: center;
}
form input {
  width: 100%;
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1.5px solid rgb(226, 148, 3);
  color: white;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
form input::placeholder {
  color: whitesmoke;
  font-size: 16px;
  font-weight: 600;
}
form p {
  font-size: 18px;
}
form button {
  width: 100%;
  padding: 8px 0;
  border-radius: 6px;
  background-color: rgb(226, 148, 3);
  border: none;
  color: black;
  font-size: 18px;
}
.account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form a {
  text-decoration: none;
  color: orangered;
}
.sign-up {
  font-size: 20px;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.facebook {
  width: 22px;
}

@media (min-width: 1366px) {
  section {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    justify-items: center;
  }
  aside {
    width: 45%;
    align-items: flex-start;
    gap: 30px;
  }
  aside h1 {
    font-size: 50px;
    text-align: left;
    width: 60%;
  }
  aside span {
    font-size: 55px;
  }
  aside p {
    text-align: left;
    line-height: 30px;
  }
  section button {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 800px) and (min-width: 1280px) {
  section {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    justify-items: center;
  }
  aside {
    width: 45%;
    align-items: flex-start;
    gap: 30px;
  }
  aside h1 {
    font-size: 50px;
    text-align: left;
    width: 60%;
  }
  aside span {
    font-size: 55px;
  }
  aside p {
    text-align: left;
    line-height: 30px;
  }
  section button {
    font-size: 18px;
    font-weight: 500;
  }
}
